/rayfile_LERTDUW_S2WP_20161017_IES_TM25.zip
/.vs/
/x64/
/Debug/
/Debug/TM25ReadWrite.exe
*.ilk
*.pdb
*.user
*.filters
/Playground/x64
/TM25ReadWrite/x64/
/TM25ReadWrite/Debug/
/rayfile_LERTDUW_S2WP_green_20M_20161013_IES_TM25.TM25RAY
*.user
*.filters
