/rayfile_LERTDUW_S2WP_20161017_IES_TM25.zip
/.vs/
/x64/
/Debug/
/Debug/TM25ReadWrite.exe
*.ilk
*.pdb
*.user
*.filters
/ConvertASAPToTM25/x64/
/InterpolateRaySet/x64/
/Playground/x64
/TM25ReadWrite/x64/
/TM25ReadWrite/Debug/
/rayfile_LERTDUW_S2WP_green_20M_20161013_IES_TM25.TM25RAY
*.user
*.filters
/InterpolateRaySet/InterpolateRaySet.log
/InterpolateRaySet/LumDiskTest_characteristicCurve.dat
/InterpolateRaySet/LumDiskTest_luminanceTable.dat
/InterpolateRaySet/LumDiskTest_skewness_z_Curve.dat
/InterpolateRaySet/dum.cfg
/InterpolateRaySet/dumZemax.txt
/InterpolateRaySet/dum_characteristicCurve.dat
/InterpolateRaySet/dum_luminanceTable.dat
/InterpolateRaySet/rayfile_LERTDUW_S2WP_green_100k_20161013_IES_TM25.TM25RAY
/InterpolateRaySet/tmp.tm25ray
/TestRayFiles/deleteme.txt
/TestRayFiles/tmp.txt
/characteristicCurve.dat
/luminanceTable.dat
/skewness_z_Curve.dat
/tmp.TM25RAY
/Cyl10k.1.ray
/Cyl1M.1.tm25ray
/Cyl1M_Faberge.1.tm25ray
/Cyl1M__Faberge_intpl.TM25RAY
/Cyl1M_intpl.TM25RAY
/LERTDUW_S2WP_green_interpolated__zplane_1M_nNeighbors_1.TM25RAY
/RayFileConverter/x64/Debug
/RayFileConverter/x64/Release
/InterpolateRaySetSetup/Release
